* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 5020px;
    gap: 32px;
    border: 1px solid red;
}



nav {
    width: 1136px;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0px 32px 0px;
    border: 1px solid red;
}

.logo {
    width: 134px;
    height: 24px;
    gap: 8px;
    border: 1px solid red;
}

.menu__navegacao {
    width: 642px;
    height: 19px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    border: 1px solid red;
}



hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1136px;
    height: 368px;
    justify-content: space-between;
    border: 1px solid red;
}

.hero__conteudo {
    width: 751px;
    height: 246px;
    gap: 24px;
    border: 1px solid red;
}

.hero__conteudo__links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    border: 1px solid red;
}

.hero__conteudo__imagem {
    width: 368px;
    height: 368px;
    background-image: url(../assets/Diego.jpg);
    background-size: 400px;
    background-position: -30px -150px;
    border-radius: 50%;
}



#sobre__mim {
    width: 1136px;
    height: 255px;
    gap: 16px;
    border: 1px solid red;
}



#skills {
    width: 1440px;
    height: 1245px;
    gap: 88px;
    border: 1px solid red;
}


.container {
    display: flex;
    flex-direction: row;
}

.container__conteudo {
    width: 176px;
    height: 174px;
    gap: 8px;
    padding: 16px;
    border: 1px solid red;
}



#formacao {
    width: 1440px;
    height: 581px;
    border: 1px solid red;
}



footer {
    width: 1140px;
    height: 890px;
    border: 1px solid red;
}

#contato {
    width: 1440px;
    height: 788px;
    border: 1px solid red;
    margin: 0;
}

.rodape {
    width: 1140px;
    height: 102px;
    border: 1px solid red;
}


ul {
    list-style: none;
}