/* Importando Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');


/* Reset */
*, ul, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* Efeito para rolagem da pag*/
html {
    scroll-behavior: smooth;
}


/* Comandos Gerais */
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: #222831;
}


/* header */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EEEEEE;
    padding: 32px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 3px solid #222831;
    z-index: 1000;
    color: #00ADB5;
}

h3 a {
    color: #00ADB5;
}

.navegacao {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.navegacao li a {
    display: block;
    padding: 10px;
    color: #00ADB5;
    border-bottom: 1px solid transparent; 
    transition: border-color 0.3s ease; 
}

.navegacao li a:hover {
    border-color: #222831;
    border-color: #00ADB5;
}


/* Hero */
.hero__gradiente {
    width: 100%;
    height: 970px;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#393E46, #222831);
}

.hero__topo {
    color: #eeeeeec4;
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 64px;
 
}

h1, h2 {
    font-size: 12.5rem;
    font-weight: 800;
    color: #EEEEEE;
    padding-left: 64px;
    line-height: 150px;
}

.hero__alinhar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.hero__img {
    height: 100px;
    transition: 1s;
    transform: translateX(0) scale(0.5);
    cursor: pointer;
}

.hero__img:hover,
.hero__img:focus {
  transform: translateX(10px) scale(0.8);
}

.hero__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
}

.hero__paragrafo__container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hero__paragrafo {
    width: 30%;
    line-height: 1.50rem;
    color: #eeeeeec4;
    text-align: left;
}


/* Projetos */
#projetos {
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #EEEEEE;
}

.exibicao {
    display: flex;
    flex-direction: row; 
}

.exibicao__foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.exibicao img {
    max-width: 100%; 
    height: 100%;
}

.botao__projetos {
    padding: 21px 45px;
    border-radius: 10px;
    background-color:  #00acb5d0;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid #222831;
    font-weight: 500;
}

.botao__projetos:hover {
    background-color: #00ADB5;
}


/* Skills */
#skills {
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222831;
    color: #EEEEEE;
}

.alinhar {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.skills__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hardskills, .softskills, .habilidades {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.hardskills{
    gap: 10px;
    color: #222831;
}

.hardskills li {
    padding: 10px;
    background-color: #00acb5d0;
    border-radius: 30px;
}

.softskills li, .habilidades li {
    width: 13%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: #00acb5d0;
    color: #222831;
    border-radius: 30px;
}

.hardskills li:hover, .softskills li:hover, .habilidades li:hover {
    background-color: #00ADB5;
}


/* sobremim */
#sobre__mim {
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}

.sobremim__container {
    width: 1300px;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sobremim__texto {
    display: flex;
    flex-direction: column;
}

.sobremim__texto > *:nth-child(2),
.sobremim__texto > *:nth-child(3),
.sobremim__texto > *:nth-child(4) {
    margin-bottom: 32px;
}

.sobremim__span {
    display: flex;
    align-items: center;
}

.sobremim__span__paragrafo {
    width: 140px;
    height: 25px;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.img {
    width: 50px;
    position: relative;
    top: -17px;
    right: 25px;
}

.sobremim__titulo {
    height: 50px;
    font-size: 42px;
}

.sobremim__paragrafo  {
    width: 90%;
    text-align: left;
}

.sobremim__links {
    display: flex;
    flex-direction: row
}

.sobremim__foto {
    max-width: 600px;
    height: 600px;
    border-radius: 15%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 10px;
}


/* Formação*/
#formacao {
    width: 100%;
    height: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #222831;;
}

.formacao__container {
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 

}

.formacao__estudos  {
    flex: 1 1 350px;
    gap: 32px;
    width: 40%;
    height: 550px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid white;
}

.formacao__img {
    max-width: 100%;
    object-fit: cover;
    height: 400px;
    background-color: #00ADB5;
    margin-bottom: 10px;
}


/* Contato */
#contato {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;;
}

.contato__container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 64px;
}

.contato__imagem {
    max-width: 100%;
    height: 593px;
}

.informacoes__contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 20px;
}

.contato__titulo {
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    color: #222831;
}

.contato__paragrafo {
    font-size: 1.10rem;
    line-height: 1.25rem;
}

.inputs__container {
    padding: 20px 0;
    max-width: 100%;
    height: 397px;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 32px;
}

.ajuste {
    width: 62%;
    height: 30px;
    border-radius: 4px;
    background-color: #EEEEEE;
    border: 2px solid #222831;
}


.ajuste__maior {
    width: 62%;
    height: 120px;
    border-radius: 4px;
    background-color:  #EEEEEE;
    border: 2px solid #222831;
}

.input__ajuste__menor {
    padding: 21px 45px;
    border-radius: 10px;
    background-color:  #00acb5d0;
    cursor: pointer;
    border: 2px solid #222831;
    font-weight: 500;
}

.input__ajuste__menor:hover {
    background-color: #00ADB5;
}


/* Topo */
.subir {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #EEEEEE;
    padding: 10px 30px;
}

.subir a input {
    color: #222831;
    padding: 10px 20px;
    background-color:  #00acb5d0;
    border-radius: 25px;
    font-weight: 500;
    border: 2px solid #222831;
}

.subir a input:hover {
    background-color: #00ADB5;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;;
    padding: 32px 0;
    color: #EEEEEE;
}


/* Efeitos Js*/
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0.5s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.2s;
}



/* Responsividade */








